<blockquote class="comment">
<%= simple_format(comment.text) %>
<footer>
<%= time_ago_in_words(comment.created_at) %> ago
by <cite><%= comment.author %></cite>
</footer>
</blockquote>
<p>
<strong><i class="fa fa-gear"></i> state changed</strong>
<%= state_transition_for(comment) %>
to <%= render comment.state %>
</p>
